@model ProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}

<div class="col-6 offset-3">
    <div class="card text-dark border-dark mb-3" style="max-width: 100rem;">
        <div class="card-body">
            <h2 class="card-title">My Profile</h2>
            <hr />

            <div style="text-align: left">
                <h5 class="card-subtitle">User Details</h5>
                <form asp-action="UpdateProfile" method="post">

                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" readonly />
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Birthday"></label>
                                <input asp-for="Birthday" type="date" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Gender"></label>
                                <select asp-for="Gender" class="form-control" required>
                                    <option value="">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />

                    <h5 class="card-subtitle">User Preferences</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RunnerLevel"></label>
                                <select asp-for="RunnerLevel" class="form-control">
                                    <option value="">Select Level</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Advanced">Advanced</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PreferredDay">Preferred Schedule</label>
                                <select asp-for="PreferredDay" class="form-control">
                                    <option value="">Select Day</option>
                                    @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
                                    {
                                        <option value="@((int)day)">@day</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Location"></label>
                                <select asp-for="Location" class="form-control">
                                    <option value="">Select City</option>
                                    <option value="Manila">Manila</option>
                                    <option value="Quezon City">Quezon City</option>
                                    <option value="Caloocan">Caloocan</option>
                                    <option value="Las Piñas">Las Piñas</option>
                                    <option value="Makati">Makati</option>
                                    <option value="Malabon">Malabon</option>
                                    <option value="Mandaluyong">Mandaluyong</option>
                                    <option value="Marikina">Marikina</option>
                                    <option value="Muntinlupa">Muntinlupa</option>
                                    <option value="Navotas">Navotas</option>
                                    <option value="Parañaque">Parañaque</option>
                                    <option value="Pasay">Pasay</option>
                                    <option value="Pasig">Pasig</option>
                                    <option value="San Juan">San Juan</option>
                                    <option value="Taguig">Taguig</option>
                                    <option value="Valenzuela">Valenzuela</option>
                                    <option value="Pateros">Pateros</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Distance"></label>
                                <input asp-for="Distance" type="number" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />


                    <button type="submit" class="btn btn-primary btn-lg">Update Profile</button>

                </form>
            </div>
        </div>
    </div>
</div>
