@{
    ViewData["Title"] = "About Us";
}

<div class="card; text-center" style="width: 100%;">
    <img class="card-img-top" src="~/images/02.jpg" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">About Us</h2>
        <h5 class="card-text">
            RunBuddies PH is a platform designed to support Filipino Runners at all levels. Our Mission is to connect runners
        </h5>

        <br />

        <h2 class="card-subtitle">Contact Us</h2>
        <h5 class="card-text">
            For any inquiries or support, please contact us at <cite title="Source Title">connect@runbuddies.com.ph.</cite>
        </h5>
        <h5 class="card-text">
            We look forward to connecting with you!
        </h5>
    </div>
</div>